<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
        <title>ArtistSongs</title>
    </head>
    <body>
        <h1>Artist Songs</h1>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/users.j2">Users</a>
            <a href="/playlists.j2">Playlists</a>
            <a href="/playlistsongs.j2">PlaylistSongs</a>
            <a href="/songs.j2">Songs</a>
            <a href="/artistsongs.j2">ArtistSongs</a>
            <a href="/artists.j2">Artists</a>
        </div>
        <div class="artistSongsData" onload="displayTable()">
            <table id="artistSongsDataTable">
                <tr>
                    {% for key in artistSongsData[0].keys() %}
                    <th>{{ key }}</th>

                    {% endfor %}
                </tr>
					<!-- Now, iterate through every item in data -->
                    {% for item in artistSongsData %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
                            <td><a href="{{ url_for('artistsongs', artistTitleUpdate=item.artistSongsId, artistSongTitleUpdate=item.songId) }} #update">Edit</a></td>
                            <td><a href="{{ url_for('artistsongs', artistSongsId=item.artistSongsId) }} #delete">Delete</a></td>

					    </tr> 
                        {% endfor %} 
            </table>
        </div>

        <!-- Adding Artist Songs -->
        <div id="insert" class="formContainer">
            <!-- Ensuring duplicate usernames do not break the page -->
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form id=="AddArtistSong" action="/artistsongs.j2" method="POST">
                <fieldset>
                    <legend><strong>Add Artist Song</strong></legend>
                    <p>
                        <label for="artistTitleDropdown">Artist Name</label>
                        <select name="artistId" required>
                            <option value="0" disabled selected>Select Artist</option>
                            {% for item in artistNameData %}
                                <option value="{{item.artistId}}">{{item.artistName}}</option>
                            {% endfor %}
                        </select>

                        <label for="titleDropdown">Song Title</label>
                        <select name="songId" required>
                            <option value="0" disabled selected>Select a Song</option>
                            {% for item in songsData %}
                                <option value="{{item.songId}}">{{item.title}}</option>
                            {% endfor %}
                        </select>
                    </p>

                    <label for="submit">
                        <input type="submit" value="Save ArtistSong" name="AddArtistSong" class="btn">
                        <a href="/artistsongs.j2" class="btn">Cancel</a>
                    </label>
                </fieldset>
            </form>
        </div>

        <!-- Update Artist Song -->
        <div id="update" class="formContainer">
            <!-- Checks if the value artistId exists and assigns it to artistId -->
            {% if request.args.get('artistTitleUpdate') %}
                {% set artistTitleUpdate = request.args.get('artistTitleUpdate')|int %}
                {% set artistSongTitleUpdate = request.args.get('artistSongTitleUpdate')|int %}
                <form id="UpdateArtistSong" action="UpdateArtistSong/{{artistTitleUpdate}}" method="POST">
                    <fieldset>
                        <legend><strong>Update Artist Song</strong></legend>
                        <p>
                            <label for="artistSongIdField">Artist Song Id</label>
                            <input type="type" name="artistTitleUpdate" value="{{artistTitleUpdate}}" disabled>
                        </p>
                        <p>
                            {% for item in artistSongsData %}
                                {% if artistTitleUpdate == item.artistSongsId %}
                                <label for="oldArtistTitle">Old Artist Title</label>
                                <input type="text" name="oldArtistId" value="{{item.artistName}}" disabled>
                                {% endif %}
                            {% endfor %}

                            <label for="artistTitleDropdown">New Artist Name</label>
                            <select name="artistId" required>
                                <option value="0" disabled selected>Select Artist</option>
                                {% for item in artistNameData %}
                                    <option value="{{item.artistId}}">{{item.artistName}}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p>
                            {% for item in artistSongsData %}
                                {% if artistTitleUpdate == item.artistSongsId %}
                                <label for="oldSongTitle">Old Song Title</label>
                                <input type="type" name="oldSongTitle" value="{{item.songTitle}}" disabled>
                                {% endif %}
                            {% endfor %}

                            <label for="titleDropdown">New Song TItle</label>
                            <select name="songId" required>
                                <option value="0" disabled selected>Select a Song</option>
                                {% for item in songsData %}
                                    <option value="{{item.songId}}">{{item.title}}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <label for="submit">
                            <button type="submit" name="UpdateArtistSong">Update Artist Song</button>
                            <a href="/artistsongs.j2" class="btn">Cancel</a>
                        </label>
                    </fieldset>
                </form>
            {% endif %}
        </div>

        <!-- Delete Artist Song-->
        <div id="delete" class="formContainer">
            <!-- checks value of artistSongsId and assigns it to artistSongsId -->
            {% if request.args.get('artistSongsId') %}
                {% set artistSongsId = request.args.get('artistSongsId') %}
                <h2 class="DeleteWarning">Warning! This is an irreversible action.</h2>
                <form id="DeleteArtistSongs" action="DeleteArtistSongs/{{artistSongsId}}" method="POST">
                    <fieldset>
                        <legend><strong>Delete Artist Info</strong></legend>
                        <p class="DeleteIntruc">
                            Check the box to confirm.
                        </p>
                        <p>
                            <input type="checkbox" name="ConfirmDelete" required>
                            <label for="ConfirmDelete">Yes, delete from database</label>
                        </p><br>
                        <p>
                            <label for="artistSongsId">Artist Song Id</label>
                            <input type="text" name="artistSongsId" value="{{artistSongsId}}" disabled>
                        </p>
                        <p>
                            <button type="submit" name="DeleteArtistSongs" class="btn">Delete Artist Song</button>
                            <a href="/artistsongs.j2" class="btn">Cancel</a>
                        </p>
                    </fieldset>
                </form>
            {% endif %}
        </div>

    </body>
</html>